//Primary
$Future: #0088FF;
$Dirty: #6E7E92;
$Dubai: #000C37;

//Secondary
$KillBill: #F52C5C;
$Cucumber: #02BCB1;
$Amber: #F8EB66;

//Special palette
$Storm: #9EA9B9;
$Rain: #C9CFDB;
$Mood: #E0E4EC;
$Ice: #EFF1F6;
$Lapland: #F8F9FD;

//Blue
$FuturePress: #006FF1;
$FutureHover: #50ADFF;
$FutureLight: #EAF5FF;

//Green
$CucumberPress: #019990;
$CucumberHover: #09D1C5;
$CucumberLight: #DDF8F6;

//Red
$KillBillPress: #F20C43;
$KillBillHover: #FF517B;
$KillBillLight: #FFF2F5;

//Purple
$DiscoManPress: #3F4CF1;
$DiscoManHover: #868EF9;
$DiscoManLight: #F5F6FF;

//Gradients
$NewYear: linear-gradient(59.74deg, #13C549 0%, #0DBBBB 100%);
$Birthday: linear-gradient(59.74deg, #72AEFF 0%, #8730FF 100%);
$Introvert: linear-gradient(59.74deg, #2DC8ED 0%, #548AF0 100%);
$Extrovert: linear-gradient(59.74deg, #FFAB1D 0%, #F8501C 100%);
$Redrum: linear-gradient(59.74deg, #FF3B57 0%, #892168 100%);
