*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

*::selection {
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  //font-family: 'Open Sans', sans-serif;
  //font-size: 14px;
  //font-weight: 700;
  //color: $darkClient;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input {
  outline: none;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

header,
section,
footer {
  margin: 0 auto;
  max-width: 1920px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 18px;
  font-weight: 600;
}

svg, video {
  display: inline-block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

:root {
  --rem-base: 10px;
}

@media (max-width: 1500px) {
  :root {
    --rem-base: 8px;
  }
}

@media (max-width: 900px) {
  :root {
    --rem-base: 7.2px;
  }
}

@media (max-width: 768px) {
  :root {
    --rem-base: 10px;
  }
}