@import '../../styles/colors';
@import '../../styles/functions';

.link {
  position: relative;
  color: $Dubai;
  font-size: cRem(16);
  line-height: cRem(26);
  font-weight: 500;
  text-decoration: underline;

  &:focus {
    outline: $Future solid 2px;
    border-radius: 6px;
  }
}