@import '../../styles/colors';
@import '../../styles/functions';

.link {
  color: $Dubai;
  font-size: cRem(16);
  line-height: cRem(26);
  font-weight: 500;
  text-decoration: underline;
  border: 2px solid transparent;

  &:focus {
    border: 2px solid $Future;
    border-radius: 6px;
  }
}