:root {
  --rem-base: 10px;
}

@media (max-width: 1500px) {
  :root {
    --rem-base: 8px;
  }
}

@media (max-width: 900px) {
  :root {
    --rem-base: 7.2px;
  }
}

@media (max-width: 768px) {
  :root {
    --rem-base: 10px;
  }
}

h6.storybook-test-header {
  color: darkblue;
  border: 1px solid red;
  width: 200px;
  text-align: center;
}
