@import '../../styles/functions';
@import '../../styles/colors';
@import '../../styles/mixins';

.avatar {

  &.logo {
    border: 1px dashed red;
    &.huge, &.large, &.middle, &.small, &.super-small, &.tiny {
      .name {
        color: red;
        font-size: 14px;
      }
    }
  }

  &.huge, &.large, &.middle, &.small, &.super-small, &.tiny {
    border-radius: 50%;
    @include flex(center, center);
    .name {
      font-weight: 600;
      color: #fff;
    }
  }

  &.huge {
    width: cRem(120);
    height: cRem(120);
    .name {
      font-size: cRem(50);
    }
  }

  &.large {
    width: cRem(64);
    height: cRem(64);
    .name {
      font-size: cRem(28);
    }
  }

  &.middle {
    width: cRem(56);
    height: cRem(56);
    .name {
      font-size: cRem(28);
    }
  }

  &.small {
    width: cRem(40);
    height: cRem(40);
    .name {
      font-size: cRem(18);
    }
  }

  &.super-small {
    width: cRem(32);
    height: cRem(32);
    .name {
      font-size: cRem(16);
    }
  }

  &.tiny {
    width: cRem(24);
    height: cRem(24);
    .name {
      font-size: cRem(12);
    }
  }

  &.new-year {
    background: $NewYear;
  }

  &.birthday {
    background: $Birthday;
  }

  &.extrovert {
    background: $Extrovert;
  }

  &.introvert {
    background: $Introvert;

  }

}

