@import '../../styles/functions';
@import '../../styles/colors';
@import '../../styles/mixins';

.wrapper {
  position: relative;
}

.online-indicator {
  position: absolute;
  right: cRem(10);
  bottom: cRem(5);
  width: cRem(22);
  height: cRem(22);
  border-radius: 50%;
  background: $NewYear;
  border: 3px solid #fff;
  z-index: 2;

}

.avatar {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  .image {
    object-fit: fill;
  }

  &.logo {
    border: 1px dashed $Storm;

    &.huge, &.large, &.middle, &.small, &.super-small, &.tiny {
      .name {
        color: $Storm;
        font-size: cRem(14);
        font-weight: 500;
      }
    }
  }

  &.huge, &.large, &.middle, &.small, &.super-small, &.tiny {
    border-radius: 50%;
    @include flex(center, center);

    .name {
      font-weight: 600;
      color: #fff;
    }
  }

  &.huge {
    width: cRem(120);
    height: cRem(120);

    .name {
      font-size: cRem(50);
    }

    .control-panel {
      position: absolute;
      width: 100%;
      height: 100%;
      top: -200px;
      left: 0;
      background: $DubaiO0_3;
      transition: all .4s ease;

      .control-btn-wrapper {
        position: absolute;
        width: 100%;
        top: 50%;
        left: -300%;
        transform: translate(-50%, -50%);
        transition: all .4s ease .4s;
        @include flex(space-evenly, center);

        .add-btn, .remove-btn {
          width: 38px;
          height: 38px;
          background: $DubaiO0_5;
          border-radius: 50%;
          @include flex(center, center);
        }

        .add-btn {
          cursor: pointer;
          input[type=file] {
            display: none;
          }
        }

        .remove-btn {
        }
      }


    }

    &:hover {
      .control-panel {
        top: 0;

        .control-btn-wrapper {
          left: 50%
        }
      }
    }
  }

  &.large {
    width: cRem(64);
    height: cRem(64);

    .name {
      font-size: cRem(28);
    }
  }

  &.middle {
    width: cRem(56);
    height: cRem(56);

    .name {
      font-size: cRem(28);
    }
  }

  &.small {
    width: cRem(40);
    height: cRem(40);

    .name {
      font-size: cRem(18);
    }
  }

  &.super-small {
    width: cRem(32);
    height: cRem(32);

    .name {
      font-size: cRem(16);
    }
  }

  &.tiny {
    width: cRem(24);
    height: cRem(24);

    .name {
      font-size: cRem(12);
    }
  }

  &.new-year {
    background: $NewYear;
  }

  &.birthday {
    background: $Birthday;
  }

  &.extrovert {
    background: $Extrovert;
  }

  &.introvert {
    background: $Introvert;

  }



}

